# /etc/init/web_dynamic_2-hbnb.conf

description "Gunicorn instance to serve 2-hbnb"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

setuid ubuntu
setgid www-data

chdir /home/ubuntu/AirBnB_clone_v4

env HBNB_ERROR_LOGFILE=/tmp/airbnb-error.log
env HBNB_ACCESS_LOGFILE=/tmp/airbnb-access.log

script
    exec /usr/bin/gunicorn --workers 3 --bind 0.0.0.0:5003 --error-logfile $HBNB_ERROR_LOGFILE --access-logfile $HBNB_ACCESS_LOGFILE web_dynamic.2-hbnb:app
end script
